---
title: NetAccess の運用法 - 旧 Wiki アーカイブ
---

<p><a href="http://www.kde.gr.jp/pukiwiki/index.php?kio" title="kio (3401d)">kio</a></p>
<p><span class="noexists">NetAccess<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=NetAccess&amp;refer=NetAccess%A4%CE%B1%BF%CD%D1%CB%A1">?</a></span>はKIOを簡単に使うためのインターフェースクラスです。
これを使う事によって一連のネットワーク処理を行う事ができます。
ただし、<span class="noexists">NetAccess<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=NetAccess&amp;refer=NetAccess%A4%CE%B1%BF%CD%D1%CB%A1">?</a></span>は同期的です。つまり、ネットワーク処理が終わるまで次の処理が行われません。この点は注意して下さい。</p>
<p><span class="noexists">NetAccess<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=NetAccess&amp;refer=NetAccess%A4%CE%B1%BF%CD%D1%CB%A1">?</a></span>のリファレンス : <a href="http://developer.kde.org/documentation/library/cvs-api/kio/html/classKIO_1_1NetAccess.html" rel="nofollow">http://developer.kde.org/documentation/library/cvs-api/kio/html/classKIO_1_1NetAccess.html</a></p>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>download
<pre>if (!NetAccess::download(KURL("http://www.kde.gr.jp/"), "~/index.html", this))
    kDebug() &lt;&lt; "download failed" &lt;&lt; endl;</pre></li></ul>
<div class="counter">
Counter:   14,
today:     1,
yesterday: 0
</div>
