---
title: KDEプロジェクト日本語翻訳 翻訳用訳語対応表 (2002/06/07版)
---

以下の表はkdelibs.poの翻訳に用いた訳語の対応表です。他のpoファイルを翻訳
する際の参考にしてください。以下はkde-jpメーリングリストでこのような対応
表を作成する契機となったメールのやり取りです。
<font size="-1">
<pre>&gt; &gt; KDEはそういうレベルでも統一感を出した方が、
&gt; &gt; かっこいいような気がしたので。
&gt; この意見には私も賛成です。

  訳がそろっていないとかっこわるいというのもありますが、
  それ以上にユーザを混乱させる原因になって
  ユーザビリティの低下を招いちゃいますから
  KDE のような統合環境では訳の統一は必須です。
＃そういう所でマイナス評価をされるのはもったいないし。
</pre>
</font>
ということですので、poファイルの翻訳をされる方は是非ユーザビリティの向上
にご協力下さい。統合環境故の難しさですね。;)
<p>
訳語？に対するご意見も募集中です。お気軽にどうぞ。
</p>
<p>
</p><h3>メニューまわり</h3>
これはかならず統一して下さい。
<table border="2">
<tbody><tr><td>file</td><td>ファイル</td><td></td><td></td></tr>
<tr><td></td><td></td><td>new</td><td>新規作成</td></tr>
<tr><td></td><td></td><td>open</td><td>開く</td></tr>
<tr><td></td><td></td><td>save</td><td>上書き保存</td></tr>
<tr><td></td><td></td><td>saveas</td><td>名前を付けて保存</td></tr>
<tr><td></td><td></td><td>print</td><td>印刷</td></tr>
<tr><td></td><td></td><td>close</td><td>閉じる</td></tr>
<tr><td></td><td></td><td>quit</td><td>終了</td></tr>
<tr><td></td><td></td><td>exit</td><td>終了</td></tr>
<tr><td>edit</td><td>編集</td></tr>
<tr><td></td><td></td><td>cut</td><td>切り取り</td></tr>
<tr><td></td><td></td><td>copy</td><td>コピー</td></tr>
<tr><td></td><td></td><td>paste</td><td>貼り付け</td></tr>
<tr><td></td><td></td><td>clear</td><td>クリア</td></tr>
<tr><td></td><td></td><td>insert</td><td>挿入</td></tr>
<tr><td></td><td></td><td>delete</td><td>削除</td></tr>
<tr><td></td><td></td><td>undo</td><td>元に戻す</td></tr>
<tr><td></td><td></td><td>redo</td><td>やり直す</td></tr>
<tr><td></td><td></td><td>options</td><td>オプション</td></tr>
<tr><td></td><td></td><td>property</td><td>設定</td></tr>
<tr><td>search</td><td>検索</td><td></td><td></td></tr>
<tr><td></td><td></td><td>find</td><td>検索</td></tr>
<tr><td></td><td></td><td>search</td><td>検索</td></tr>
<tr><td></td><td></td><td>replace</td><td>置換</td></tr>
<tr><td></td><td></td><td>top</td><td>先頭</td></tr>
<tr><td></td><td></td><td>bottom</td><td>末尾</td></tr>
<tr><td>view</td><td>表示</td><td></td><td></td></tr>
<tr><td>window</td><td>ウィンドウ</td><td></td><td></td></tr>
<tr><td></td><td></td><td>cascade</td><td>カスケード</td></tr>
<tr><td>browse</td><td>ブラウズ</td><td></td><td></td></tr>
<tr><td></td><td></td><td>forward</td><td>進む</td></tr>
<tr><td></td><td></td><td>back</td><td>戻る</td></tr>
<tr><td></td><td></td><td>reload</td><td>再読み込み</td></tr>
<tr><td></td><td></td><td>bookmark</td><td>ブックマーク</td></tr>
<tr><td>help</td><td>ヘルプ</td><td></td><td></td></tr>
<tr><td></td><td></td><td>about</td><td>バージョン情報</td></tr>
<tr><td></td><td></td><td>about xxx</td><td>xxx について</td></tr>
</tbody></table>

<h3>ダイアログまわり</h3>
これはかならず統一して下さい。
<table border="2">
<tbody><tr><td>dialog</td><td>ダイアログ</td></tr>
<tr><td>yes</td><td>はい</td></tr>
<tr><td>no</td><td>いいえ</td></tr>
<tr><td>ok</td><td>OK</td></tr>
<tr><td>cancel</td><td>キャンセル</td></tr>
<tr><td>apply</td><td>適用</td></tr>
<tr><td>default</td><td>標準</td></tr>
<tr><td>dismiss</td><td>閉じる</td></tr>
</tbody></table>

<h3>その他</h3>
これはできれば統一したいところですが、
文脈によっても意味が変わってくると思うので
その辺は臨機応変に対応して下さい。
<table border="2">
<tbody><tr><td>about</td><td>バージョン情報</td></tr>
<tr><td>access</td><td>アクセス</td></tr>
<tr><td>action</td><td>動作</td></tr>
<tr><td>add</td><td>追加</td></tr>
<tr><td>addressbook</td><td>アドレス帳</td></tr>
<tr><td>alert</td><td>警告</td></tr>
<tr><td>and</td><td>＆</td></tr>
<tr><td>appearance</td><td>外観</td></tr>
<tr><td>application</td><td>アプリケーション</td></tr>
<tr><td>apply</td><td>適用</td></tr>
<tr><td>arrange</td><td>配置</td></tr>
<tr><td>attention</td><td>注意</td></tr>
<tr><td>authorization</td><td>認可</td></tr>
<tr><td>available</td><td>有効な</td></tr>
<tr><td>back</td><td>戻る</td></tr>
<tr><td>background</td><td>背景</td></tr>
<tr><td>backup</td><td>バックアップ</td></tr>
<tr><td>bar</td><td>バー</td></tr>
<tr><td>bindings</td><td>割り当て</td></tr>
<tr><td>bold</td><td>ボールド</td></tr>
<tr><td>bookmark</td><td>ブックマーク</td></tr>
<tr><td>bottom</td><td>末尾</td></tr>
<tr><td>browse</td><td>ブラウズ</td></tr>
<tr><td>browser</td><td>ブラウザ</td></tr>
<tr><td>browsing</td><td>ブラウジング</td></tr>
<tr><td>bug</td><td>バグ</td></tr>
<tr><td>busy</td><td>ビジー</td></tr>
<tr><td>bytes/s</td><td>バイト毎秒</td></tr>
<tr><td>bytes</td><td>バイト</td></tr>
<tr><td>cache</td><td>キャッシュ</td></tr>
<tr><td>cancel</td><td>キャンセル</td></tr>
<tr><td>cascade</td><td>カスケード</td></tr>
<tr><td>casesensitive</td><td>大文字小文字を区別</td></tr>
<tr><td>change</td><td>変更</td></tr>
<tr><td>charset</td><td>文字セット</td></tr>
<tr><td>clear</td><td>クリア</td></tr>
<tr><td>click</td><td>クリック</td></tr>
<tr><td>close</td><td>閉じる</td></tr>
<tr><td>color</td><td>色</td></tr>
<tr><td>combination</td><td>組合わせ</td></tr>
<tr><td>comment</td><td>コメント</td></tr>
<tr><td>complete</td><td>完了</td></tr>
<tr><td>configure</td><td>設定</td></tr>
<tr><td>conflict</td><td>衝突</td></tr>
<tr><td>connect</td><td>接続</td></tr>
<tr><td>connection</td><td>接続</td></tr>
<tr><td>contact</td><td>連絡先</td></tr>
<tr><td>contents</td><td>内容</td></tr>
<tr><td>continue</td><td>続ける</td></tr>
<tr><td>cookie</td><td>cookie</td></tr>
<tr><td>copy</td><td>コピー</td></tr>
<tr><td>create</td><td>作成</td></tr>
<tr><td>custom</td><td>カスタム</td></tr>
<tr><td>cut</td><td>切り取り</td></tr>
<tr><td>cyclic</td><td>循環的な</td></tr>
<tr><td>damage</td><td>ダメージ,損害</td></tr>
<tr><td>data</td><td>データ</td></tr>
<tr><td>database</td><td>データベース</td></tr>
<tr><td>date</td><td>日付</td></tr>
<tr><td>default</td><td>標準</td></tr>
<tr><td>defaults</td><td>標準設定</td></tr>
<tr><td>deiconify</td><td>アイコン化解除</td></tr>
<tr><td>delete</td><td>削除</td></tr>
<tr><td>desk</td><td>デスク</td></tr>
<tr><td>desktop</td><td>デスクトップ</td></tr>
<tr><td>device</td><td>デバイス</td></tr>
<tr><td>dialog</td><td>ダイアログ</td></tr>
<tr><td>directory</td><td>ディレクトリ</td></tr>
<tr><td>dismiss</td><td>閉じる</td></tr>
<tr><td>document</td><td>文書</td></tr>
<tr><td>drag</td><td>ドラッグ</td></tr>
<tr><td>drop</td><td>ドロップ</td></tr>
<tr><td>edit</td><td>編集</td></tr>
<tr><td>edition</td><td>版</td></tr>
<tr><td>email</td><td>メール</td></tr>
<tr><td>empty</td><td>空</td></tr>
<tr><td>encoding</td><td>エンコーディング</td></tr>
<tr><td>entry</td><td>エントリ</td></tr>
<tr><td>error</td><td>エラー</td></tr>
<tr><td>expiration</td><td>失効</td></tr>
<tr><td>export</td><td>他に渡す,エキスポートする</td></tr>
<tr><td>family</td><td>ファミリ</td></tr>
<tr><td>fatal</td><td>致命的な</td></tr>
<tr><td>fetching</td><td>取得中</td></tr>
<tr><td>field</td><td>フィールド</td></tr>
<tr><td>filemanager</td><td>ファイルマネージャ</td></tr>
<tr><td>filter</td><td>フィルタ</td></tr>
<tr><td>find</td><td>検索</td></tr>
<tr><td>fit</td><td>フィット</td></tr>
<tr><td>float</td><td>フロート化</td></tr>
<tr><td>floating</td><td>フローティング</td></tr>
<tr><td>focus</td><td>フォーカス</td></tr>
<tr><td>folder</td><td>フォルダ</td></tr>
<tr><td>font</td><td>フォント</td></tr>
<tr><td>footer</td><td>フッタ</td></tr>
<tr><td>forward</td><td>進む</td></tr>
<tr><td>general</td><td>一般</td></tr>
<tr><td>geometry</td><td>ジオメトリ</td></tr>
<tr><td>global</td><td>広域</td></tr>
<tr><td>go</td><td>実行</td></tr>
<tr><td>group</td><td>グループ</td></tr>
<tr><td>help</td><td>ヘルプ</td></tr>
<tr><td>hidden</td><td>隠しファイル</td></tr>
<tr><td>highscore</td><td>ハイスコア</td></tr>
<tr><td>history</td><td>ヒストリ</td></tr>
<tr><td>host</td><td>ホスト</td></tr>
<tr><td>huge</td><td>特大</td></tr>
<tr><td>icon</td><td>アイコン</td></tr>
<tr><td>iconify</td><td>アイコン化</td></tr>
<tr><td>implement</td><td>実装</td></tr>
<tr><td>incorrect</td><td>正しくない</td></tr>
<tr><td>information</td><td>情報</td></tr>
<tr><td>insert</td><td>挿入</td></tr>
<tr><td>install</td><td>インストール</td></tr>
<tr><td>italic</td><td>イタリック</td></tr>
<tr><td>kb/s</td><td>キロバイト毎秒</td></tr>
<tr><td>kb</td><td>キロバイト</td></tr>
<tr><td>key-value-map</td><td>キーと値のマップ</td></tr>
<tr><td>kill</td><td>強制終了</td></tr>
<tr><td>large</td><td>大</td></tr>
<tr><td>layout</td><td>配置</td></tr>
<tr><td>line</td><td>行</td></tr>
<tr><td>local</td><td>ローカル</td></tr>
<tr><td>location</td><td>場所</td></tr>
<tr><td>lock</td><td>ロック</td></tr>
<tr><td>lookandfeel</td><td>ルックアンドフィール</td></tr>
<tr><td>mailer</td><td>メーラ</td></tr>
<tr><td>maintainer</td><td>開発者</td></tr>
<tr><td>malformed</td><td>おかしな</td></tr>
<tr><td>maximize</td><td>最大化</td></tr>
<tr><td>mb/s</td><td>メガバイト毎秒</td></tr>
<tr><td>mb</td><td>メガバイト</td></tr>
<tr><td>medium</td><td>中</td></tr>
<tr><td>menu</td><td>メニュー</td></tr>
<tr><td>message</td><td>メッセージ</td></tr>
<tr><td>misc</td><td>その他</td></tr>
<tr><td>miscellaneous</td><td>その他</td></tr>
<tr><td>mode</td><td>モード</td></tr>
<tr><td>mount</td><td>マウント</td></tr>
<tr><td>new</td><td>新規作成</td></tr>
<tr><td>next</td><td>次</td></tr>
<tr><td>no</td><td>いいえ</td></tr>
<tr><td>normal</td><td>通常</td></tr>
<tr><td>ok</td><td>OK</td></tr>
<tr><td>ooops</td><td>おっとぉ</td></tr>
<tr><td>open</td><td>開く</td></tr>
<tr><td>options</td><td>オプション</td></tr>
<tr><td>others</td><td>他</td></tr>
<tr><td>overview</td><td>概要</td></tr>
<tr><td>overwrite</td><td>上書き</td></tr>
<tr><td>owner</td><td>所有者</td></tr>
<tr><td>ownership</td><td>所有権</td></tr>
<tr><td>parent</td><td>親ディレクトリ</td></tr>
<tr><td>paste</td><td>張り付け</td></tr>
<tr><td>path</td><td>パス</td></tr>
<tr><td>pattern</td><td>パターン</td></tr>
<tr><td>perhaps</td><td>たぶん</td></tr>
<tr><td>permission</td><td>許可</td></tr>
<tr><td>permission</td><td>許可情報</td></tr>
<tr><td>personal</td><td>個人</td></tr>
<tr><td>picture</td><td>画像</td></tr>
<tr><td>pixmap</td><td>ピックスマップ</td></tr>
<tr><td>plain</td><td>無地</td></tr>
<tr><td>please</td><td>choose</td></tr>
<tr><td>point</td><td>場所</td></tr>
<tr><td>print</td><td>印刷</td></tr>
<tr><td>prior</td><td>前</td></tr>
<tr><td>process</td><td>プロセス</td></tr>
<tr><td>property</td><td>設定</td></tr>
<tr><td>protocol</td><td>プロトコル</td></tr>
<tr><td>quickhelp</td><td>クイックヘルプ</td></tr>
<tr><td>quit</td><td>終了</td></tr>
<tr><td>rearrange</td><td>再配置</td></tr>
<tr><td>redo</td><td>やり直し</td></tr>
<tr><td>rejected</td><td>拒否されました</td></tr>
<tr><td>reload</td><td>再読み込み</td></tr>
<tr><td>remove</td><td>削除</td></tr>
<tr><td>replace</td><td>置換</td></tr>
<tr><td>restore</td><td>元に戻す</td></tr>
<tr><td>resume</td><td>元に戻す</td></tr>
<tr><td>roman</td><td>ローマン</td></tr>
<tr><td>root</td><td>ルート</td></tr>
<tr><td>save</td><td>保存</td></tr>
<tr><td>saveas</td><td>名前を付けて保存</td></tr>
<tr><td>savedocumentas</td><td>名前を付けて保存</td></tr>
<tr><td>search</td><td>検索</td></tr>
<tr><td>seconds</td><td>秒</td></tr>
<tr><td>section</td><td>セクション,節</td></tr>
<tr><td>security</td><td>セキュリティ</td></tr>
<tr><td>select</td><td>選択</td></tr>
<tr><td>service</td><td>サービス</td></tr>
<tr><td>setting</td><td>設定</td></tr>
<tr><td>show</td><td>表示</td></tr>
<tr><td>single</td><td>シングル</td></tr>
<tr><td>skip</td><td>スキップ</td></tr>
<tr><td>small</td><td>小</td></tr>
<tr><td>socket</td><td>ソケット</td></tr>
<tr><td>special</td><td>特別</td></tr>
<tr><td>specified</td><td>指定された</td></tr>
<tr><td>specify</td><td>指定</td></tr>
<tr><td>start</td><td>開始</td></tr>
<tr><td>status</td><td>状態</td></tr>
<tr><td>sticky</td><td>常に表示</td></tr>
<tr><td>stop</td><td>停止</td></tr>
<tr><td>store</td><td>保管</td></tr>
<tr><td>string</td><td>文字列</td></tr>
<tr><td>style</td><td>スタイル</td></tr>
<tr><td>switch</td><td>スイッチ</td></tr>
<tr><td>syntax</td><td>文法</td></tr>
<tr><td>task</td><td>タスク</td></tr>
<tr><td>template</td><td>テンプレート,雛型</td></tr>
<tr><td>terminal</td><td>ターミナル</td></tr>
<tr><td>thumbnails</td><td>サムネイル</td></tr>
<tr><td>tiny</td><td>極小</td></tr>
<tr><td>title</td><td>タイトル</td></tr>
<tr><td>toggle</td><td>トグル</td></tr>
<tr><td>top</td><td>先頭</td></tr>
<tr><td>trash</td><td>ゴミ箱</td></tr>
<tr><td>tree</td><td>ツリー</td></tr>
<tr><td>type</td><td>タイプ</td></tr>
<tr><td>unclutter</td><td>整頓</td></tr>
<tr><td>undo</td><td>元に戻す</td></tr>
<tr><td>unfloat</td><td>フロート化解除</td></tr>
<tr><td>unique</td><td>一意な</td></tr>
<tr><td>unknown</td><td>未知</td></tr>
<tr><td>unmount</td><td>マウント解除</td></tr>
<tr><td>untitled</td><td>名前なし</td></tr>
<tr><td>update</td><td>更新</td></tr>
<tr><td>usage</td><td>利用法</td></tr>
<tr><td>user</td><td>ユーザ</td></tr>
<tr><td>utility</td><td>ユーティリティ</td></tr>
<tr><td>value</td><td>値</td></tr>
<tr><td>view</td><td>ビュー</td></tr>
<tr><td>virtual</td><td>仮想</td></tr>
<tr><td>warning</td><td>警告</td></tr>
<tr><td>yes</td><td>はい</td></tr>
</tbody></table>
