---
title: KDE SC 4.5.0 リリースアナウンス
---

<h1>KDE は KDE Development Platform、KDE アプリケーション、そして Plasma ワークスペースのバージョン 4.5.0 をリリースしました</h1>

<a href="http://www.kde.org/announcements/4.5/">English</a>

<div style="float: right; padding: 1ex; margin: 1ex; border: 0px none;">
  <p>
    <a href="http://kde.org/announcements/4.5/">
      <img alt="KDE 4.5 Experience Freedom" src="./images/kde45-small.png" />
    </a>
  </p>
</div>

<p align="justify">
  KDE Development Platform、Plasma デスクトップ/ネットブックワークスペース、そして多くの
  アプリケーションの最新版が本日、バージョン 4.5 としてリリースされました。
  KDE チームは、以前から導入されていた機能や技術のユーザビリティ、パフォーマンス、そして安定性
  にフォーカスを当ててきました。以下に KDE の3つの製品 (開発プラットフォーム・アプリケーション群・Plasma
  ワークスペース) のアナウンスをそれぞれ記します。
</p>

<br style="clear:both;" />

<h2>KDE Development Platform 4.5.0 では、パフォーマンス、安定性、<br />新型の高速キャッシュ機能、そして WebKit  のサポートが追加されました。</h2>

<a href="http://www.kde.org/announcements/4.5/platform.php">
  <img src="./images/platform.png" class="app-icon" alt="The KDE Development Platform 4.5.0">
</a>

<p align="justify">
  2010年8月10日。(訳注: UTC) KDE は本日、KDE Development Platform 4.5.0 をリリースしました。
  このリリースには、多くのパフォーマンス及び安定性の強化が含まれます。
  新規に追加された <b>KSharedDataCache</b> は、ディスクに保存された、アイコン等のリソースへの
  高速なアクセスのために最適化されています。<b>KDE WebKit</b> ライブラリは、Konqueror のネットワーク設定、
  パスワードの保存、その他多くの機能との統合を提供します。
  <a href="http://www.kde.org/announcements/4.5/platform.php"><b>アナウンス全文</b></a>
</p>



<h2>Plasma デスクトップ/ネットブック 4.5.0: ユーザエクスペリエンスの向上</h2>
<p align="justify">
  <a href="http://www.kde.org/announcements/4.5/plasma.php">
    <img src="./images/plasma.png" class="app-icon" alt="KDE Plasma ワークスペース 4.5.0" height="64" width="64">
  </a>

  2010年8月10日。(訳注: UTC) KDE は本日、Plasma デスクトップ/ネットブックワークスペース 4.5.0
  をリリースしました。Plasma デスクトップには多くのユーザビリティに関する改良がなされました。
  通知とジョブハンドリングの過程が効率化されました。通知領域は視覚的に整理され、アプリケーション間の
  入力操作は、前バージョンの Plasma で導入された Freedesktop.org の通知プロトコルによって、
  より着実なものになりました。
  <a href="http://www.kde.org/announcements/4.5/plasma.php"><b>アナウンス全文</b></a>
</p>


<h2>KDE アプリケーション 4.5.0: ユーザビリティとマップルーティングの向上</h2>
<p align="justify">

  <a href="http://www.kde.org/announcements/4.5/applications.php">
    <img src="./images/applications.png" class="app-icon" alt="KDE アプリケーション 4.5.0">
  </a>

  2010年8月10日。(訳注: UTC) KDE は本日、KDE アプリケーションの最新版をリリースしました。
  多くの教育用プログラム、ツール、ゲーム、GUI のユーティリティが、一層強化され、
  ユーザビリティも大きく向上しました。
  仮想地球儀である Marble から、OpenRouteService をバックエンドとしたルーティングの世界への扉を開くことができます。
  KDE の Web ブラウザである Konqueror は、Extragear リポジトリにある KWebLit コンポーネントを用いることで、
  WebKit を使うように設定できます。
  <a href="http://www.kde.org/announcements/4.5/applications.php"><b>アナウンス全文</b></a>
</p>



<div class="screenshot" align="center">
  <a href="http://www.kde.org/announcements/4.5/screenshots/kde-general45.png" title="クリックして拡大">
    <img src="./images/kde-general45.png" style="text-align: center;"
       alt="KDE Development Platform、アプリケーション、Plasma デスクトップ/ネットブック 4.5"
       title="KDE Development Platform、アプリケーション、Plasma デスクトップ/ネットブック 4.5">
  </a><br />

  <em>KDE Development Platform、アプリケーション、Plasma デスクトップ/ネットブック 4.5</em>
</div>

<h4>
  KDE 4.5 を世に広め、起こっていることを確認しましょう: "KDE" タグを付けて下さい
</h4>
<p align="justify">
  KDE は皆さんに対して、ソーシャル Web でencourages everybody to <strong>spread the word</strong> on the Social Web.
  delicious、digg、reddit、twitter、identi.ca のようなチャンネルを用いてニュースサイトに寄稿してみてください。
  スクリーンショットを Facebook、Flickr、ipernity、Picasa のようなサービスにアップロードして、
  適切なグループに送って下さい。スクリーンキャスト (訳注: 動画でのスクリーンショット) を作成して、
  YouTube、Blip.tv、Vimeo、ニコニコ動画などに投稿してください。
  <em><strong>kde</strong> タグ</em>を付けることをお忘れなきよう。
  皆が早く見つけられるよう、そして KDE チームが KDE SC 4.5 に関する報道のレポートを早くまとめられるよう、ご協力下さい。
  <strong>あなたも、世界を広げる者の一人となりましょう!</strong>
</p>

<p align="justify">
  <a href="http://buzz.kde.org/"><strong>KDE コミュニティライブフィード</strong></a>で、
  4.5 リリースイベントに関してソーシャル Web で起こっていることをリアルタイムで追跡することができます。
  このサイトには identi.ca、twitter、youtube、flickr、picasaweb、ブログ群、
  そしてその他の多くのソーシャルネットワーキングサイトで起こっていることが、リアルタイムで集約されています。
  ライブフィードは <strong><a href="http://buzz.kde.org/">buzz.kde.org</a></strong> でご覧頂けます。
</p>

<div align="center">
  <table border="0" cellpadding="2" cellspacing="2">
    <tbody>
      <tr>
        <td>
          <a href="http://digg.com/search?s=kde45"><img src="./images/digg.gif" alt="Digg" title="Digg"></a>
        </td>
        <td>
          <a href="http://www.reddit.com/search?q=kde45"><img src="./images/reddit.gif" alt="Reddit" title="Reddit"></a>
        </td>
        <td>
          <a href="http://twitter.com/#search?q=kde45"><img src="./images/twitter.gif" alt="Twitter" title="Twitter"></a>
        </td>
        <td>
          <a href="http://identi.ca/search/notice?q=kde45"><img src="./images/identica.gif" alt="Identi.ca" title="Identi.ca"></a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://www.flickr.com/photos/tags/kde45"><img src="./images/flickr.gif" alt="Flickr" title="Flickr"></a>
        </td>
        <td>
          <a href="http://www.youtube.com/results?search_query=kde45"><img src="./images/youtube.gif" alt="Youtube" title="Youtube"></a>
        </td>
        <td>
          <a href="http://www.facebook.com/#%21/pages/K-Desktop-Environment/6344818917?ref=ts"><img src="./images/facebook.gif" alt="Facebook" title="Facebook"></a>
        </td>
        <td>
          <a href="http://delicious.com/tag/kde45"><img src="./images/delicious.gif" alt="del.icio.us" title="del.icio.us"></a>
        </td>
      </tr>
    </tbody>
  </table>

  <span style="font-size: 6pt;"><a href="http://microbuttons.wordpress.com/">microbuttons</a></span>
</div>

<h4>KDE への支援をお願いします</h4>


<a href="http://jointhegame.kde.org/">
  <img src="./images/join-the-game.png" alt="Join the Game" align="left" height="120" width="231">
</a>
<p align="justify">
  KDE e.V. の新しい<a href="http://jointhegame.kde.org/">支援者プログラム</a>が始まっています。
  3ヶ月毎に25ユーロを支払うことで、KDE の国際的コミュニティが、確実に世界的なフリーソフトウェアを
  つくり続けていける手助けができます。
</p>

<br style="clear:both;" />
